
.vMenu {
    width: auto;
}

.vMenu a {
    background: linear-gradient(120deg, rgb(99, 120, 194), #A1CAFF);
    color: #efefef;
    display: block;
    padding: 12px;
}

.vMenu a:hover {
    background: linear-gradient(120deg, rgb(42, 63, 139), #A1CAFF);
    color: #efefef;
}

.vMenu a.active {
    background: linear-gradient(120deg, rgb(42, 63, 139), #A1CAFF);
    color: white;
}

.hMenu {
    background: linear-gradient(120deg, rgb(99, 120, 194), #A1CAFF);
    color: #efefef;
    text-align: center;
}

.hMenu h4,
h5 {
    padding-top: 1rem;
}

.container-fluid {
    padding-left: 0;
}



body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
