html
  head
    meta(charset='utf-8')
    title Clinica Veterinária - Home
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', media='screen', href='/styles/main.css')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='/scripts/data.js')
    script(src='/scripts/createObj.js')
    script(src='/scripts/consultas.js')
    script(src='/scripts/backoffice.js')
  body
    #wrapper.d-flex
      #sidebar-wrapper.hMenu.border-right
        .sidebar-heading.hMenu(style='text-align:center')
          img(src='images/logo.png', width='95rem')
        .list-group.list-group-flush.vMenu
          a.list-group-item.list-group-item-action.bg-light.active(href='/')
            i.fas.fa-home
            |  Home
          a.list-group-item.list-group-item-action.bg-light(href='/gerirConsultas')
            i.fas.fa-address-book
            |  Gerir consultas
          a.list-group-item.list-group-item-action.bg-light(href='/medicos/gerir')
            i.fas.fa-users
            |  Gerir Médicos
          a.list-group-item.list-group-item-action.bg-light(href='/creditos')
            i.fas.fa-info-circle
            |  Créditos
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
          button#menu-toggle.btn.btn-light
            i.navbar-toggler-icon
          h4.navbar.navbar-expand Clinica Veterinária - Página Inicial
          a(href="#" onclick="login()") Administrator Mode
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.mt-3.mt-lg-0
              li.nav-item
                #nowTime
        .container(style='text-align:center')
          img(src='/images/bem-vindo.jpg' width="30%")
          br
          h3(style='padding:5px;') Notícias Recentes:
          hr
          .container-fluid(style='text-align:center;padding-left:12%')
            if rows.length > 0
              .row(style='text-align:center;')
                each noticias in rows
                 .col-3(style='',onclick="alert('"+noticias.noticia+"')", class="noticia")
                  b #{noticias.titulo}
                  br
                  label #{noticias.noticia}
                  h6 <i>Clique para ver mais...</i>
            else
                h5(style='padding:5px;') Não existem notícias de momento.
          hr
    script.

      $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });
    script(src='scripts/main.js')
